<section class="contact">

    <div class="container">
        <div class="login-content">
            <form action="/contact/<%=user.id%>" method="POST" autocomplete="off">
                <h4 class="title-head">How can we help you ?</h4>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <!-- <h5>Full Name</h5> -->
                        <input class="input" type="text" name="customerName" id="name" value="<%=user.name%>" readonly>
                        <input hidden class="input" type="text" name="customerID" id="customerID" value="<%=user.id%>" readonly>
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="div">
                        <!-- <h5>Email</h5> -->
                        <input style="text-transform: lowercase;" class="input" type="email" name="customerEmail" id="email"
                        value="<%=user.email%>" readonly>
                    </div>
                </div>
                <% if(typeof oid != "undefined") { %>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-cheese"></i>
                    </div>
                    <div class="div">
                        
                        <input value="<%=oid%>" readonly style="text-transform: lowercase;" class="input" type="text" name="orderId"
                        >  
                    </div>
                </div>
                <%} %>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-comment-dots"></i>
                    </div>
                    <div class="div">
                        <h5>Type Message Here...</h5>
                        <input class="input" type="text" name="customerMessage" id="message" required>
                    </div>
                </div>
                <input type="submit" class="btn" value="Send">
            </form>
        </div>
    </div>

    <script>

const inputs = document.querySelectorAll(".input");


function addcl() {
	let parent = this.parentNode.parentNode;
	parent.classList.add("focus");
}

function remcl() {
	let parent = this.parentNode.parentNode;
	if (this.value == "") {
		parent.classList.remove("focus");
	}
}


inputs.forEach(input => {
	input.addEventListener("focus", addcl);
	input.addEventListener("blur", remcl);
});

    </script>

</section>
    