<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REALMEAL</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
<!-- header section starts  -->

<header>


    <div class="header-2 h-20" style="overflow-x: clip;">
        <div class="mainLogo p-5">
            <a href="/" class="Mainlogo"><span>REAL</span>MEAL</a>
          </div>
        
    
        <nav class="navbar">
            <ul class="flex items-center">
                <% if(user) { %>

                    <% if(user.role == 'customer') { %>
                        <li class="ml-6"><a href="/">Menu</a></li>
                        <li class="ml-6"><a href="/customers/orders">My Orders</a></li>
                        <li class="ml-6"><a href="/profile/<%= user._id%>">Profile</a></li>
                        <% }else { %> 
                            <li class="ml-6"><a href="/admin/menuadd">Menu Manage</a></li>
                            <li class="ml-6"><a href="/admin/orders">Customer Orders</a></li>
                            <%} %>

                <% } else {
                 %> <li class="ml-6"><a href="/">Menu</a></li> <%
                } %>
                <!-- <li class="ml-6"><a href="/error404">Offers</a></li> -->
                <% if(user) { %>
                <li class="ml-6">
                    <form id="logout" action="/logout" method="POST">
                        <a onclick="document.getElementById('logout').submit()" href="#">Logout</a>
                    </form>
                </li>
                <% } else { %>
                  <li class="ml-6"><a href="/register">Register</a></li>
                  <li class="ml-6"><a href="/login">Login</a></li>
                <% } %>
                <% if(user) { %>
                    <% if(user.role == 'customer') { %>
                <li class="ml-6"><a href="/contact/<%= user._id %>">contact</a></li>
                <li id="cart" style="display: flex; float: left; justify-content: center;" class="ml-6"><a href="/cart" class="inline-block px-4 py-2 rounded-full flex items-center">
                    <span id="cartCounter" class="text-white font-bold pr-2"><%=session.cart ? session.cart.totalQty : '' %></span>
                    <img src="/img/cart.png" alt="">
                </a></li>
                <% }else { %> 
                    <li class="ml-6"><a href="/admin/messages">Customer Messages</a></li>
                    <%} %>
                <% } else { %><li id="cart" style="display: flex; float: left; justify-content: center;" class="ml-6"><a href="/cart" class="inline-block px-4 py-2 rounded-full flex items-center">
                    <span id="cartCounter" class="text-white font-bold pr-2"><%=session.cart ? session.cart.totalQty : '' %></span>
                    <img src="/img/cart.png" alt="">
                </a></li><%} %>                
            </ul>
        </nav>
        <div id="menu" class="fas fa-hamburger"></div>
    </div>
    </header>
    
    
    <%- body %>
    <footer class="footer">
        <div class="footer__addr footer__marg">
          <h1 class="footer__logo"><span>Real</span>Meal.Com</h1>
          <h2 class="footer__logo__des">Food That is diffrent,<br>service that is unique.</h2>
        </div>
        <ul class="footer__nav">
          <li class="nav__item">
            <h2 class="nav__title">Quick Links</h2>
            <ul class="nav__ul">
              <li><a href="/"> Home </a></li>
              <li><a href="/customers/orders">My Orders</a></li>
              <li><a href="/contact/<%= user._id %>"> Contact us </a></li>
            </ul>
          </li>
          <li class="nav__item">
            <h2 class="nav__title">contact details</h2>
            <ul class="nav__ul nav__last">
              <li>
                <a><i class="fas fa-phone"></i> +91 123-456</a>
              </li>
              <li>
                <a><i class="fas fa-envelope"></i> realmeal@gmail.com</a>
              </li>
      
              <li>
                <a><i class="fas fa-map-marked-alt"></i> Bhiwandi , Thane</a>
              </li>
            </ul>
          </li>
        </ul>
      
        <div class="legal">
          <p>&copy; 2021 D.R.E. All rights reserved.</p>
      
          <div class="legal__links">
            <span>Made with <span class="heart">♥</span> by DEV</span>
          </div>
        </div>
      </footer>
    

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>$(document).ready(function(){

        $('#menu').click(function(){
            $(this).toggleClass('fa-times');
            $('.navbar').toggleClass('nav-toggle');
        });
    
        $(window).on('load scroll',function(){
    
            $('#menu').removeClass('fa-times');
            $('.navbar').removeClass('nav-toggle');
    
            if($(window).scrollTop() > 60){
                $('header .header-2').addClass('header-active');
            }else{
                $('header .header-2').removeClass('header-active');
            }
    
            $('section').each(function(){
    
                let height = $(this).height();
                let offset = $(this).offset().top - 200;
                let top = $(window).scrollTop();
                let id = $(this).attr('id');
    
                if(top >= offset && top < offset + height){
                    $('.navbar ul li a').removeClass('active');
                    $('.navbar').find(`[href="#${id}"]`).addClass('active');
                }
    
            });
    
        });
    
   
    
    });
    </script>
</body>
</html>