

<div class="flex pb-2 justify-center">
  <button class="open-button btn-primary rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" id="insert" onclick="openForm()">Insert Menu</button>
</div>
<section class=" flex justify-center pt-6 formpopup">
    <div class="w-full max-w-xs" class="form-popup" >
        <form id="myForm" action="/menuadd" method="POST" class="bg-white z-10 form-container shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <% if(messages.error) { %>
          <span class="text-red-500 text-sm"><%= messages.error %></span>
          <% } %>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Item Name
                </label>
                <input name="name" value="<%= messages.name %>"
                autocomplete="off" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="itemname" type="text" placeholder="Enter Item Name">
              </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="image">
            Image path
            </label>
            <input name="image" value="<%= messages.email %>"
            autocomplete="off" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="img" placeholder="Enter image path">
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="price">
            Price
            </label>
            <input 
            name="price"
            autocomplete="off" class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="text" placeholder="Price">
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="isVeg">
            Type
            </label>
            <input name="isVeg" autocomplete="off" class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="text" placeholder="isVeg">
          </div>
          <div class="flex items-center justify-between">
            <button class="btn-primary rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Insert Item
            </button>
            <button type="button" class="btn-primary rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"" onclick="closeForm()">Close</button>
          </div>
        </form>
    </div>
      </form>
    </div>
    
</section>
<div class="p-4 blur" id="blur">
  <form action="/" method="POST">
      <table class="table1 mx-auto">
          <thead>
              <tr>
                  <th class="px-4 py-2 text-left">Name</th>
                  <th class="px-4 py-2 text-left">Image</th>
                  <th class="px-4 py-2 text-left">Price</th>
                  <th class="px-4 py-2 text-left">Type</th>
                  <th class="px-4 py-2 text-left">Edit</th>
                  <th class="px-4 py-2 text-left">Delete</th>
              </tr>
          </thead>
          <tbody>
            
            <% pizzas.forEach(function(pizza) { %><tr>
             
              <td  class="border px-4 py-2"><%= pizza.name %></td>
              <td  class="border px-4 py-2"><%= pizza.image %></td>
              <td  class="border px-4 py-2"><%= pizza.price %></td>
              <td  class="border px-4 py-2"><%= pizza.isVeg %></td>
              <td class="border px-4 py-2">
                  <a href="/" class="btn border px-2 rounded-full py-2 border-shadow update">
                      <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                  </a>
              </td>
              <td class="border px-4 py-2">
                <a class="btn border-shadow border rounded-lg px-4 py-2 delete"  >
                  <span class="text-gradient"><i class="fas fa-times"></i></span>
              </a>
              </td>
              <% })%>
          </tr>
          </tbody>
      </table>
  </form>
</div>
<div class="flex pb-2 justify-center">
<form  method="POST" id="update_user" class="bg-white z-10 form-container shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <% pizzas.forEach(function(pizza) { %>
      <div class="form-group">
          <label for="Email" class="text-light block text-gray-700 text-sm font-bold mb-2">Name</label>
          <input type="text" name="email" value="<%= pizza.name %>">
      </div>
      <div class="form-group">
        <label for="Email" class="block text-gray-700 text-sm font-bold mb-2 text-light">Image</label>
        <input type="text" name="email" value="<%= pizza.image %>">
    </div>
    <div class="form-group">
      <label for="Email" class="block text-gray-700 text-sm font-bold mb-2 text-light">price</label>
      <input type="text" name="email" value="<%= pizza.price %>">
      </div>
      <div class="form-group">
    <label for="Email" class="block text-gray-700 text-sm font-bold mb-2 text-light">type</label>
    <input type="text" name="email" value="<%= pizza.isVeg %>">
    </div>
      <div class="form-group">
          <button type="submit" class="btn-primary rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Save</button>
      </div>
      <% })%>
</form>
</div>
  <script>
    function openForm() {
      document.getElementById("insert").style.display = "none";
      document.getElementById("myForm").style.display = "block";
      var popup = document.getElementById("blur");
      popup.classList.toggle('active');
    }
    function closeForm() {
      document.getElementById("insert").style.display = "block";
      document.getElementById("myForm").style.display = "none";
      var popup = document.getElementById("blur");
      popup.classList.remove('active');
    }
    </script>

