

<div class="flex justify-center">
  <button class="open-button btn-primary rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" id="insert" onclick="openForm()">Insert Menu</button>
</div>
<section class=" flex justify-center pt-6 formpopup">
    <div class="w-full max-w-xs" class="form-popup" >
        <form id="myForm" style="background: var(--footer);" action="/menuadd" method="POST" class="z-10 form-container shadow-md rounded px-8 pt-6 pb-8 mb-4" enctype="multipart/form-data">
          <% if(messages.error) { %>
          <span class="text-red-500 text-sm"><%= messages.error %></span>
          <% } %>
            <div class="mb-4">
                <label class="block text-sm font-bold mb-2" for="username">
                Item Name
                </label>
                <input name="name"
                autocomplete="off" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="itemname" type="text" placeholder="Enter Item Name">
              </div>
          <div class="mb-4">
            <label class="block text-sm font-bold mb-2" type="file" for="image">
            Image 
            </label>
            <input name="image" type="file" 
            autocomplete="off" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email">
          </div>
          <div class="mb-6">
            <label class="block text-sm font-bold mb-2" for="price">
            Price
            </label>
            <input 
            name="price"
            autocomplete="off" class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="text" placeholder="Price">
          </div>
          <div class="mb-6">
            <label class="block text-sm font-bold mb-2" for="isVeg">
            Type
            </label>
            <input name="isVeg" autocomplete="off" class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="text" placeholder="isVeg">
          </div>
          <div class="flex items-center justify-between">
            <button class="btn-primary2 rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Insert Item
            </button>
            <button type="button" class="btn-primary1 rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"" onclick="closeForm()">Cancel</button>
          </div>
        </form>
    </div>
      </form>
    </div>
    
</section>


<div class="p-4 pb-10 flex blur" id="blur">
      <table id="myTable" class="mx-auto">
          <thead>
              <tr>
                  <th class="px-4 py-2 text-left">Name</th>
                  <th class="px-4 py-2 text-left">Image</th>
                  <th class="px-4 py-2 text-left">Price</th>
                  <th class="px-4 py-2 text-left">Type</th>
                  <th class="px-4 py-2 text-left">Edit</th>
                  <th class="px-4 py-2 text-left">Delete</th>
              </tr>
              <tr>
                <th>
                  <div class="mb-2" style="background: var(--black);border-radius: 7px;">
                  <input style="padding: 4px; border: inset; width: 100%; background: var(--footer); border-radius: 7px; color: var(--black);" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Dish..">
                </div></th>
              </tr>
          </thead>
          <tbody>
            <% realmeals.forEach(function(realmeal) { %><tr>
              <td  class="border px-4 py-2"><%= realmeal.name %></td>
              <td  class="border px-4 py-2 w-32 text-right"><span data-item2="<%= realmeal._id %>" class="penClick2 pl-1 text-gradient"><i class="fas fa-pencil-alt"></i></span><img src="/img/<%= realmeal.image %>"></td>
              <td  class="border px-4 py-2"><%= realmeal.price %></td>
              <td  class="border px-4 py-2"><%= realmeal.isVeg %></td>
              <td class="border px-4 py-2">
                      <span data-item="<%= realmeal._id %>" class="penClick pl-1 text-gradient"><i class="fas fa-pencil-alt"></i></span>
              </td>
              <td class="border px-4 py-2">
                <form action="/admin/menuDelete/<%= realmeal._id%>" id="deleteItemdd" method="POST">
                  <button id="deleteSubmit" title="Are You Sure Want to delete <%= realmeal.name %>'s record ?" class="trash pl-3" type="submit" > 
                    <i class="fas fa-trash"></i> </button>
                </form>
              </td>
              <% })%>
          </tr>
          </tbody>
      </table>

</div>
<div class="flex justify-center">
  <% realmeals.forEach(function(realmeal) { %>
<form  action="/admin/menuadd/<%= realmeal._id %>" method="POST" id="myform<%= realmeal._id %>" data-items="<%= realmeal._id %>" class="formpopup hide z-10 form-container shadow-md rounded px-8 pt-6 pb-8 mb-4" style="display: none; box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); background: var(--footer); border-radius: 15px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );">
      <div class="form-group">
          <label for="name" class="text-light block pt-2 text-sm font-bold mb-2">Name</label>
          <input type="text" name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline" value="<%= realmeal.name %>">
      </div>
    <div class="form-group">
      <label for="price" class="block text-sm pt-2 font-bold mb-2 text-light">price</label>
      <input type="text" name="price" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline" value="<%= realmeal.price %>">
      </div>
      <div class="form-group">
    <label for="isVeg" class="block text-sm pt-2 font-bold mb-2 text-light">type</label>
    <input type="text" name="isVeg" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline" value="<%= realmeal.isVeg %>">
    </div>
    <div class="pt-6">
          <button type="submit" class="btn-primary2 rounded-full float-left text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Save</button>
          <button type="button" id="close<%= realmeal._id %>" class="close float-right btn-primary1 rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Cancel</button>
    </div>
</form> <% })%>
</div>

<div class="flex justify-center">
  <% realmeals.forEach(function(realmeal) { %>
<form  action="/admin/menuupi/<%= realmeal._id %>" enctype="multipart/form-data" method="POST" id="myform2<%= realmeal._id %>" data-items="<%= realmeal._id %>" class="formpopup hide z-10 form-container shadow-md rounded px-8 pt-6 pb-8 mb-4" style="display: none; box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); background: var(--footer); border-radius: 15px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );">
      <div>
        <img src="/img/<%= realmeal.image %>">
      </div>
      <div class="form-group">
        <label for="image" class="block text-sm pt-2 font-bold mb-2 text-light">Image</label>
        <input type="file" name="images" class="shadow appearance-none border rounded w-full py-2 px-3  leading-tight focus:outline-none focus:shadow-outline" value="<%= realmeal.image %>">
    </div>
    <div class="pt-6">
      <button type="submit" class="btn-primary2 rounded-full float-left text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Save</button>
      <button type="button" id="close<%= realmeal._id %>" class="close float-right btn-primary1 rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Cancel</button>
</div>
</form> <% })%>
</div>
  <script>
    function openForm() {
      document.getElementById("insert").style.display = "none";
      document.getElementById("myForm").style.display = "block";
      var popup = document.getElementById("blur");
      popup.classList.toggle('active');
    }
    function closeForm() {
      document.getElementById("insert").style.display = "block";
      document.getElementById("myForm").style.display = "none";
      var popup = document.getElementById("blur");
      popup.classList.remove('active');
    }
    </script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
  function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

  if(window.location.pathname == "/admin/menuadd"){
  $ondelete = $(".penClick");
  $deleteSubmit = $("#deleteSubmit");
  $popup = $('.blur');

  // $deleteSubmit.click(function() {
  //   // $('#deleteItem')[0].submit();
  //   console.log('click')
  // })

  $ondelete.click(function(){
      var id = $(this).attr("data-item")
      var myitemForm = $('#myform' + id).css({"display":"block"})
      $popup.addClass('active');
      // alert(id);
      console.log('working')
  
      $close = $('.close');
      $close.click(function(){
        var myForm = $('.hide').hide()
        $popup.removeClass('active');
        console.log('click')
      })
  })
  }

  if(window.location.pathname == "/admin/menuadd"){
  $ondelete = $(".penClick2");
  $popup = $('.blur');

  $ondelete.click(function(){
      var id = $(this).attr("data-item2")
      var myitemForm = $('#myform2' + id).css({"display":"block"})
      $popup.addClass('active');
      // alert(id);
      console.log('working2')
  
      $close = $('.close');
      $close.click(function(){
        var myForm2 = $('.hide').hide()
        $popup.removeClass('active');
        console.log('click2')
      })
  })
  }
    </script>

