<div style="text-align: center; padding-top: 15px;"><button style=" background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;" id="download">download pdf</button></div>
<div id="invoice" style="background: white !important; color: black !important; width: 750px; padding:50px;"
  class="mx-auto my-6 container">
  <div class="invoice-container" ref="document" id="html">
    <div class="mainLogo p-5 text-center">
      <a style="color: black; font-size: 35px;" class="Mainlogo"><span>REAL</span>MEAL</a>
    </div>
    <table style="width:100%; height:auto;  text-align:center; " BORDER=0 CELLSPACING=0>
      <thead style="background:#fafafa; padding:8px;">
        <div class="p-5 flex">
          <div style="width: 50%;">
            <a style="color: black;"><span>Hello,</span>
              <%=user.name%>
            </a><br>
            <p style="font-weight: bold;">Your Order Details:</p>
          </div>
          <div>
            <p style="width: 50%; float: right;">Shipping Address: <%= Order.address%>. </p>
          </div>
        </div>
      </thead><br><br>
    </table>
    <table style="width:100%; height:auto; background-color:#fff;text-align:center; padding:10px; background:#fafafa">
      <tbody>
        <tr style="color:#6c757d; font-size: 20px;">
          <td
            style="border-right:1.5px dashed  #DCDCDC; width:25%;font-size:12px;font-weight:700;padding: 0px 0px 10px 0px;">
            Order Date</td>
          <td
            style="border-right:1.5px dashed  #DCDCDC; width:25%;font-size:12px;font-weight:700;padding: 0px 0px 10px 0px;">
            Order ID.</td>
          <td style="width:25%;font-size:12px;font-weight:700;padding: 0px 0px 10px 0px;">
            Payment Mode </td>
        </tr>
        <tr style="background-color:#fff; font-size:12px; color:#262626;">
          <td style="border-right:1.5px dashed  #DCDCDC ;width:25%; font-weight:bold;background: #fafafa;">
            <%= moment(Order.createdAt).format('YYYY-MM-DD') %> ( <%= moment(Order.createdAt).format('hh:mm A') %> )
          </td>
          <td style="border-right:1.5px dashed  #DCDCDC ;width:25%; font-weight:bold;background: #fafafa;">
            <%= Order._id %>
          </td>
          <td style="width:25% ; font-weight:bold;background: #fafafa;">
            <% if (Order.paymentStatus==true) { %>
              <span style="color:green; font-weight: 500;"> CARD </span>
              <% } else { %>
                <span style="color: red; font-weight: 500;">C.O.D.</span>
                <% } %>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <table id="res"
      style="width:100%; height:auto; background-color:#fff; margin-top:0px;  padding:20px; font-size:14px;">
      <thead>
        <tr style=" color: #6c757d;font-weight: bold; padding: 5px;">
          <!-- <td style="text-align: center;">IMAGE</td> -->
          <td style="text-align: left;">NAME</td>
          <!-- <td style="text-align: left;">TYPE</td> -->
          <td style="text-align:center;">QUANTITY</td>
          <td style="text-align: left;">PRICE/Pcs</td>
          <td style="text-align: left;">TOTAL PRICE</td>
        </tr>
      </thead>
      <tbody>
        <% Object.values(Order.items).forEach(realmeal=> { %>
          <tr>
            <!-- <td style="width:10%; ">
              <span><img src="/img/<%= realmeal.item.image %>" alt=""></span>
            </td> -->
            <td style="width:20%;margin-left:10px;text-align: left;">
              <%= realmeal.item.name %>
            </td>
            <!-- <td style="width:20%; text-align:left;">
              <%= realmeal.item.isVeg %>
            </td> -->
            <td style="width:20%; text-align: center;">
              <%= realmeal.qty %>
            </td>
            <td style="width:20%; text-align: left;">
              <%= realmeal.item.price %>₹
            </td>
            <td style="width:20%; text-align: left;" class="countable">
              <%= (realmeal.item.price * realmeal.qty).toFixed(0) %>
            </td>
          </tr>
          <% }) %>
      </tbody><br>
      <tfoot style="font-weight: bold;">
        <tr>
          <td colspan="3">Total:</td>
          <td><a id="total"></a>₹</td>
        </tr>
      </tfoot>
    </table><br>
    <!-- <div style="text-align: right; padding-right: 5%;">
      <h1>GRAND Total : <a id="total"> </a>₹ </h1>
    </div> -->
    <table style="width:100%; height:auto; background-color:#fff;padding:20px; font-size:12px;">
      <br>
      <tfoot style="padding-top:20px;font-weight: bold;">
        <tr>
          <td colspan="2" style="font-weight:bold; font-size: 15px;">
            <span style="color:var(--primary);font-weight: bold;">THANK YOU</span> For Ordering!</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
  var cls = document.getElementById("res").getElementsByTagName("td");
  var sum = 0;
  for (var i = 0; i < cls.length; i++) {
    if (cls[i].className == "countable") {
      sum += isNaN(cls[i].innerHTML) ? 0 : parseInt(cls[i].innerHTML);
    }
  }
  document.getElementById('total').innerHTML += sum;

    $("document").ready(function () {
      setTimeout(function () {
        $("#download").trigger('click');
        alert("your invoice is downloading")
      }, 1000);
    });
    
  window.onload = function () {
    document.getElementById("download")
      .addEventListener("click", () => {
        const invoice = this.document.getElementById("invoice");
        console.log(invoice);
        console.log(window);
        var opt = {
          margin: 0.5,
          filename: 'invoice.pdf',
          image: { type: 'jpeg', quality: 0.98 },
          html2canvas: { scale: 2 },
          jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
        };
        html2pdf().from(invoice).set(opt).save();
      })
  }
</script>