
<section>

  <div id="profile" class="flex pb-4 justify-center min-h-screen">
    <div style="background: var(--footer);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );" class="bg-white w-3/5 mt-10 rounded-lg pro-width">
      <div class="flex items-center justify-center pt-10 flex-col">
        <div class="userproimg">
          <div class="inner-user">
            <div class="namefirstUser" id="profileImage" style="
                width: 100%;
    background: #FE5F1E;
    padding: 33px;
    color: white;
    font-family: Algerian;
    font-weight: bold;
    /* margin: 0px; */
    text-align: center;
    padding-left: 50px;
    border-radius: 50%;
    padding-right: 50px;
    font-size: 35px;
    text-transform: capitalize;
            ">
              
            </div>
          </div>

        </div>
        <h1 id="firstname" style="color: var(--black);" class=" font-semibold uppercase text-xl mt-5"><%=user.name%></h1>
        <h1 style="color: var(--black);" text-lg "><%=user.id%></h1>
        <h1 style="color: var(--black);" text-lg p-2 text-center"><%=user.email%></h1>
        <h1 style="color: var(--black);" text-lg p-2 text-center"> Joined To Us : <span class="font-semibold"><%= moment(user.createdAt).format('LL'); %></span> </h1>
      </div>
      <div class="flex justify-around p-4">
        <div>
        <h1 class="text-lg uppercase" style="color: var(--black);">Your Orders</h1>
        <h1 class="text-sm text-yellow-500">All Orders : <span style="color: #FE5F1E; font-weight: 900 !important;"> <%= allOrder %> </span> </h1>
        <h1 class="text-sm text-yellow-500">Order Fullfilled : <span style="color: green; font-weight: 900 !important;"> <%= comOrder %> </span> </h1>
        </div>
        <div>
          <h1 class="text-lg uppercase" style="color: var(--black);">Complaints</h1>
          <h1 class="text-sm text-yellow-500">All Contacts : <span style="color: #FE5F1E; font-weight: 900 !important;"> <%= countMsg %> </span> </h1>
          <h1 class="text-sm text-yellow-500">Admin Responsed : <span style="color: green; font-weight: 900 !important;"> <%= resMsg %> </span>  </h1>
          </div>
      </div>
      
      <div class="swicher">
        <ul>
          <li id="v-order" style="color: var(--black);" onclick="showDiv1()">  View Orders </li>
          <li id="v-ad-r" style="color: var(--black);" onclick="showDiv2()"> View Complaint Response </li>
        </ul>
      </div>
  
      <div id="tab">
        <div id="userOrdersCompleted" class="mb-10" >
         
          <div class="userOrder">
            <% if(userOrder.length) { %>
              <span class="text-gray-800 text-lg font-bold text-sm mx-4 my-2 p-2 rounded-lg clearfix" style="background: #b16d52;"> Only Completed orders</span>
            <table class="w-full table-auto" style="color: var(--black);">
              <thead>
                  <tr>
                      <th class="px-4 py-2 text-left">Order ID's & Item Details</th>
                      <th class="px-4 py-2 text-left">Delivery Details</th>
                      <th class="px-4 py-2 text-left">Time</th>
                      <th class="px-4 py-2 text-left">Payment Type</th>
                      <!-- <th class="px-4 py-2 text-left">Status</th> -->
                  </tr>
              </thead>
              <tbody>

                  <% userOrder.forEach((order) => { %>
                          <tr>
                            <td class="border px-4 py-2">
                              <a class="link" href="/customers/orders/<%= order._id %>"><%= order._id %></a>
                              <li style="list-style: none;">
                                <% Object.values(order.items).forEach(realmeal => { %>
                                  <li style="list-style: none;"><%= realmeal.item.name %> <span> ✕ <%= realmeal.qty %>  = <%= (realmeal.item.price * realmeal.qty).toFixed(0)  %></span>  </li>
                                  <!-- <li style="list-style: none;"><%= (realmeal.item.price * realmeal.qty).toFixed(0)  %>   </li> -->
                                  <% }) %>
                          </li>
                              </td>
  
                              <td class="border px-4 py-2">
                          <li style="list-style: none;">
                                  <li style="list-style: none;"><%= order.phone%></span></li>
                                  <li style="list-style: none;"><%= order.address%></span></li>
                          </li>
                            </td>
                              
                              <td class="border px-4 py-2">
                                <%= moment(order.createdAt).format('hh:mm A') %>
                              </td>
                              <td class="border px-4 py-2">
                                <% if (order.paymentStatus == true) { %>
                                  <span style="color:green; font-weight: 500;"> CARD </span>
                              <% } else { %>
                                  <span style="color: red; font-weight: 500;">C.O.D.</span>
                                  <% } %>
                              </td>
                              <!-- <td class="border px-4 py-2">
                                 
                                      <span style="color:green; font-weight: 500;"> Completed </span>
                                
                              </td> -->
                          </tr>
                   
                          <% }) %>
                          <% } %>
                   
              </tbody>
          </table>
          </div>
          <% if( allOrder == 0){ %>
            <div id="no_data" class="no_data">
                <i class="far fa-sad-tear"></i>
                <p>You Did Not Placed Any Order Yet!</p>
            </div>
            <% } %>
          <% if( allOrder > 0 && comOrder == 0){ %>
            <div id="no_data" class="no_data">
                <i class="fas fa-stroopwafel fa-spin"></i>
                <p> Your Order is pending</p>
            </div>
            <% } %>
        </div>
        <div id="userComplaintsResponsed">
          
            <div class="md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4" id="msg-flex">
              <% userMsg.forEach(function (msg){ %>
            <div class="gap-6 mt-10 px-6 w-full msg-block" style="position: relative;">
                <span class="date_and_time" style="position: absolute; top: 5px; right:35px; font-size: 15px; color: wheat;"><%= moment(msg.receivedAt).format('LL'); %></span>
            <div class="antialiased bg-purple-600 text-white p-8 rounded-lg">
            <div class="relative z-10 flex justify-start space-x-4">        <div class="userproimg">
              <div class="inner-user">
                <div class="namefirstUser" id="profileImage" style="
              width: 100%;
    background: #FE5F1E;
    padding: 5px;
    font-family: Algerian;
    font-weight: bold;
    text-align: center;
    padding-left: 15px;
    border-radius: 50%;
    padding-right: 15px;
    font-size: 26px;
    text-transform: capitalize;
                ">
                     <%=msg.name.substring(0,1) %>
                </div></div>
            </div>
            
                <div>
                  <div>
                    <div id="firstname"  class="font-bold text-sm rounded-lg mx-4 my-2">
                      <% if(msg.orderId != 'false') { %>
                    <h2> Order ID :  <%=msg.orderId %></h2>
                    <% } %>
                    </div>
                    <!-- <div class="font-bold text-sm mx-4 my-2">
                      <p>
                        <% userCanOrder.forEach((order) => { %>
                        <% Object.values(order.items).forEach(realmeal => { %>
                          <li style="list-style: none;"><%= realmeal.item.name %></li>
                          
                          <% }) %>
                          <% }) %>
                          
                     </p>
                    </div> -->
                    <div class="font-bold text-sm bg-green-400  mx-4 my-2 p-2 rounded-lg clearfix">
                    You : <%=msg.customerMessage %>
                  </div>
                  <div class="font-bold text-sm bg-gray-800 mx-4 my-2 p-2 rounded-lg clearfix">
                    
                      <% if(msg.adminMessage != 'false') { %>
                                 Admin : <%= msg.adminMessage %>
                                 <% }  else { %>
                                   <span style="color: rgb(161, 161, 161); font-weight: 500;">Admin Response Pending</span>
                                   <% } %>
                     
                                       
                  </div>
                  
                    
                </div>
              </div>
            </div>
        
           <!-- <p class="relative z-10 mt-4 text-sm opacity-85">
            <% if(msg.adminMessage != 'false') { %>
            Admin Response: <%= msg.adminMessage %>
            <% }  else { %>
              <span style="color: rgb(161, 161, 161); font-weight: 500;">Response Pending</span>
              <% } %>
           
           </p> -->
            </div>
            </div>
           
            <% }) %>
            <% if( countMsg == 0){ %>
              <div id="no_data" class="no_data">
                  <i class="far fa-sad-tear"></i>
                  <p>You have not contacted to admin yet !</p>
              </div>
              <% } %>
             
                </div>
        </div>
      </div>
      
    </div>
  </div>

  <script>
    var orderView = document.getElementById("v-order");
var adminRspView = document.getElementById("v-ad-r");

function showDiv1() {
 document.getElementById('userOrdersCompleted').style.display='block';
document.getElementById('userComplaintsResponsed').style.display='none';
orderView.classList.add("bolder");
adminRspView.classList.remove("bolder");
}
function showDiv2() {
document.getElementById('userOrdersCompleted').style.display='none';
document.getElementById('userComplaintsResponsed').style.display='block';
adminRspView.classList.add("bolder");
orderView.classList.remove("bolder");
}

console.log('user script')

  </script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


  <script>
    
    $(document).ready(function(){
        var firstName = $('#firstname').text();
        var intials = $('#firstname').text().charAt(0);
        var profileImage = $('#profileImage').text(intials);

      });
      console.log('name user scripts')
    </script>

    <script>
       var colors = ['#FE5F1E', '#2c9b00', '#b21c01', '#016bb2', '#b20154', '#0139b2', '#b20119', '#01b20a'];
    var boxes = document.querySelectorAll(".namefirstUser");
    for (i = 0; i < boxes.length; i++) {
        // Pick a random color from the array 'colors'.
        boxes[i].style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
    }
    </script>
</section>
