<section class="status p-6">
    <div style="box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
max-width: 100%;
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
padding: 2.1rem;
border: 1px solid rgba( 255, 255, 255, 0.18 );" class="container p-4 mx-auto">
        <div class="status-box w-full lg:w-2/3 mx-auto">
        <div class="flex items-center justify-between mb-12">
            <h1 class="text-xl font-bold">Track Delivery Status</h1>
            <form id="cancelOrder" action="/customers/Orders/<%= Order._id %>" class="" method="POST" autocomplete="off">
                <input type="text" value="<%= Order._id %>" name="orderID" hidden>
                <button class="btn-primary rounded-full p-1 pl-2 pr-2 text-white text-xs">Cancel Order</button>
                </form>
            
            <h6 class="bg-white py-1 rounded-full px-4 text-green-600 text-xs"><%= Order._id %></h6>
            <input id="hiddenInput" type="hidden" value="<%= JSON.stringify(Order) %>">
        </div>

       
            <ul id="orderInprogress">
                <li class="status_line text-sm md:text-xl pb-16" data-status="order_placed"><span>Order Placed</span></li>
                <li class="status_line text-sm md:text-xl pb-16" data-status="confirmed"><span>Order Confirmation</span></li>
                <li class="status_line text-sm md:text-xl pb-16" data-status="prepared"><span>Preparation</span></li>
                <li class="status_line text-sm md:text-xl pb-16" data-status="delivered"><span>Out for delivery</span></li>
                <li class="status_line text-sm md:text-xl" data-status="complete"><span>Complete</span></li>
                <li hidden class="status_line text-sm md:text-xl" data-status="cancelled"><span>Order Cancelled</span></li>
            </ul>
        

        
    </div>
 
    <div id="orderCancelled" class="p-6">

        <h2>Your Order Has been Cancelled</h2>
        <h5>If you have any complaints, feel free to <span> <a style="color: #FE5F1E;" href="/contact/<%= user._id %>/?oid=<%= Order._id %>"> Contact Us </a> </span></h5>

    </div>
    </div>
</section>